.menu-burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.menu-burger_element {
    width: 100%;
    background-color: white;
    height: 2.5px;
    transition: all 0.3s ease;
}

.menu-burger_element:nth-child(2) {
    margin: 10px 0px;
    opacity: 1;
    transition: all 0.3s ease;

} 

@media (max-width: 850px) {
    .menu-burger {
        display: flex;
    }
}


.menu-burger.active .menu-burger_element:nth-child(2) {
    opacity: 0;
    transition: all 0.3s ease;
} 

.menu-burger.active .menu-burger_element:nth-child(1) {
    transform: rotate(45deg) translate(42%, 0%);
    margin-left: -8px;
    transition: all 0.3s ease;
} 

.menu-burger.active .menu-burger_element:nth-child(3) {
    transform: rotate(-45deg) translate(42%, 0%);
    margin-left: -8px;
    transition: all 0.3s ease;   
} 


.menu-burger-items ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menu-burger-item {
    text-align: center;
    background-color: #4c4c4c;
    padding: 10px 0px;
    border: 1px solid #0000001a;
    transition: all 0.5s ease;
}

.menu-burger-item:hover {
    background-color: #666565;
    transition: all 0.5s ease;
}

.menu-burger-item.active {
    background-color: #666565;
    transition: all 0.5s ease;
}

.menu-burger-item-link {
    color: white;
}

.menu-burger-items {
    display: none;
}

@media (max-width: 850px) {
    .menu-burger-items.active {
        display: block;
    }
}